.dockerignore

# Git
.git
.gitignore

# Docker
.docker

# Python
main_project/__pycache__/
main_project/*/__pycache__/
main_project/*/*/__pycache__/
main_project/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/